#main{
  width:90wh;
  margin:5px auto;
  text-align:center;
  height: 100vh;
}

#img-caption{
  font-size: 16px;
  font-weight: bold;
  color:black;
  text-align:center;

}

#tribute-info{
  font-size: 20px;
  color:black;
  text-align:left;
  background-color: #999999;
}

#tribute-link{
  color:blue;
  text-decoration: none;
}

img{
  max-width:100%;
  margin:auto;
  display:block;
  align-content: center;
  border:1px solid;
}
